<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta charset="utf-8" />
<title><%= @page_title %></title>

<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css">
<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />

<%= partial(@page_css) %>

<script type="text/javascript">
	// anything that needs to happen early on (e.g. document.write)
	
</script>

<style type="text/css">
	/* any overriding styles */
	
	#rocketbar { width: 100%; padding-bottom: 25px;
		background-color: transparent;
		background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));  /* FF3.6 */
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 1)), color-stop(1, rgba(0, 0, 0, 0))); /* Saf4+, Chrome */
	}
	#rocketbar.floater { position: fixed; top: 0px; z-index: 999; } 
		#rocket_wrapper { width: 960px; margin: 0px auto; background: transparent; }
			#rocket_content { width: 897px; float: left; padding: 0px 0px 0px 1px; margin-left: 30px; background-color: #EEE; border-style: solid; border-color: #999; border-width: 0px 1px 1px 1px;
				                -moz-border-radius: 0px 0px 5px 5px; /* FF1+ */
				    -webkit-border-top-left-radius: 0px;  /* Saf3-4 */
				   -webkit-border-top-right-radius: 0px;
				-webkit-border-bottom-right-radius: 5px;
				 -webkit-border-bottom-left-radius: 5px;
				                     border-radius: 0px 0px 5px 5px; /* Opera 10.5, IE 9, Saf5, Chrome */

				   -moz-box-shadow: 0px 5px 5px -3px rgba(0, 0 , 0, 0.5), inset 1px 1px 0px #FFF; /* FF3.5+ */
				-webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0 , 0, 0.5), inset 1px 1px 0px #FFF; /* Saf3.0+, Chrome */
				        box-shadow: 0px 5px 5px -3px rgba(0, 0 , 0, 0.5), inset 1px 1px 0px #FFF; /* Opera 10.5, IE 9.0 */
			}
				#primary, #secondary { width: 897px; }
				#primary { height: 32px; overflow: hidden; padding: 8px 0px 8px 0px; }
					#navigation {}
						#navigation ul { height: 32px; line-height: 32px; list-style-type: none; }
						#navigation ul li { display: block; float: left; padding: 0px 10px 0px 10px; }
						#navigation ul li a { text-decoration:none; }
					#controlls {}
						#controlls_logo { width: 32px; height: 32px; margin-left: 8px; float: left; }
							#rocketbar.rss #controlls_logo { background: url('/images/rss_32.png'); }
						#controlls_content { width: 857px; float: left; }
					
				#secondary { padding: 0px 0px 8px 0px; display: none; }
						#primary_extras, #flash_messages, #options { width: 100%; padding-top: 8px; }
						#primary_extras { background-color: #F55; }
						#flash_messages { background-color: #0FF; }
						#options { background-color: #FF0; }
					
			#tab_left, #tab_right { width: 29px; height: 29px; display: block; float: left; background-color: #DDD; border-style: solid; border-color: #999; 
				   -moz-transition: padding 0.25s ease-out;  /* FF3.7+ */
				     -o-transition: padding 0.25s ease-out;  /* Opera 10.5 */
				-webkit-transition: padding 0.25s ease-out;  /* Saf3.2+, Chrome */
			}
			#tab_left { margin-left: -930px; border-width: 0px 0px 1px 1px;
				                -moz-border-radius: 0px 0px 0px 5px; /* FF1+ */
				    -webkit-border-top-left-radius: 0px;  /* Saf3-4 */
				   -webkit-border-top-right-radius: 0px;
				-webkit-border-bottom-right-radius: 0px;
				 -webkit-border-bottom-left-radius: 5px;
				                     border-radius: 0px 0px 0px 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
				
				   -moz-box-shadow: 0px 5px 5px -3px rgba(0, 0 , 0, 0.5), inset -6px 0px 3px -3px rgba(0, 0 , 0, 0.25), inset 1px 1px 0px #FFF; /* FF3.5+ */
				-webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0 , 0, 0.5), inset -6px 0px 3px -3px rgba(0, 0 , 0, 0.25), inset 1px 1px 0px #FFF; /* Saf3.0+, Chrome */
				        box-shadow: 0px 5px 5px -3px rgba(0, 0 , 0, 0.5), inset -6px 0px 3px -3px rgba(0, 0 , 0, 0.25), inset 1px 1px 0px #FFF; /* Opera 10.5, IE 9.0 */
			}
			#tab_right { border-width: 0px 1px 1px 0px;
				                -moz-border-radius: 0px 0px 5px 0px; /* FF1+ */
				    -webkit-border-top-left-radius: 0px;  /* Saf3-4 */
				   -webkit-border-top-right-radius: 0px;
				-webkit-border-bottom-right-radius: 5px;
				 -webkit-border-bottom-left-radius: 0px;
				                     border-radius: 0px 0px 5px 0px; /* Opera 10.5, IE 9, Saf5, Chrome */
				
				   -moz-box-shadow: 0px 5px 5px -3px rgba(0, 0 , 0, 0.5), inset 6px 0px 3px -3px rgba(0, 0 , 0, 0.25), inset 0px 1px 0px #FFF; /* FF3.5+ */
				-webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0 , 0, 0.5), inset 6px 0px 3px -3px rgba(0, 0 , 0, 0.25), inset 0px 1px 0px #FFF; /* Saf3.0+, Chrome */
				        box-shadow: 0px 5px 5px -3px rgba(0, 0 , 0, 0.5), inset 6px 0px 3px -3px rgba(0, 0 , 0, 0.25), inset 0px 1px 0px #FFF; /* Opera 10.5, IE 9.0 */
			}
			#tab_left:hover, #tab_left:active, #tab_left:focus,
			#tab_right:hover, #tab_right:active, #tab_right:focus { padding-top: 5px; }
			
			/*
				CSS3 Button
				http://addyosmani.com/blog/rocketbar/
			*/
			button {
				position: relative;
				margin: 2px 0px 2px 0px;
				padding: 6px 12px 5px 12px;
				height: 30px;
				font-size: 12px;
				font-weight: bold;
				font-family: arial, helvetica, sans-serif;
				color: #4f4f4f;
				text-shadow: 0 1px 1px #fff;
				background: #ddd;
				background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#c4c4c4));
				background: -moz-linear-gradient(top, #ededed, #c4c4c4);
				border: 1px solid #acacac;
				border-top-color: #bdbdbd;
				/* letter-spacing:-1px; */
				border-bottom-color: #949494;
				border-radius: 3px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				transition: all .2s ease-in-out;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;

				         box-shadow: inset 0 1px 0 #fff;
			    		-webkit-box-shadow: inset 0 1px 0 #fff;
			    		-moz-box-shadow: inset 0 1px 0 #fff;
			    		-o-box-shadow: inset 0 1px 0 #fff;


				cursor: pointer;
				}
				button:hover,
				button:focus {


					box-shadow: 0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 #fff;
			    		-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 #fff;
			    		-moz-box-shadow: 0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 #fff;
			    		-o-box-shadow: 0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 #fff;
					}
				button:active {
					background: #ccc;
					background: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#ebebeb));
					background: -moz-linear-gradient(top, #c3c3c3, #ebebeb);
					border-color: #a6a6a6;
					border-top-color: #939393;
					border-bottom-color: #bcbcbc;


						box-shadow: inset 0 -1px 0 #fff;
			    		-webkit-box-shadow: inset 0 -1px 0 #fff;
			    		-moz-box-shadow: inset 0 -1px 0 #fff;
			    		-o-box-shadow: inset 0 -1px 0 #fff;
					}
			button.default {
				color: #1c4257;
				background: #a3cde3;
				background: -webkit-gradient(linear, left top, left bottom, from(#b9e0f5), to(#85b2cb));
				background: -moz-linear-gradient(top, #b9e0f5, #85b2cb);
				border: 1px solid #759bb1;
				border-top-color: #8ab0c6;
				border-bottom-color: #587e93;

				}
				button.default:hover,
				button.default:focus {
				box-shadow: 0 0 7px #53a6d5;


					     box-shadow: 0 0 7px #53a6d5, inset 0 1px 0 #fff;
			    		-webkit-box-shadow: 0 0 7px #53a6d5, inset 0 1px 0 #fff;
			    		-moz-box-shadow: 0 0 7px #53a6d5, inset 0 1px 0 #fff;
			    		-o-box-shadow: 0 0 7px #53a6d5, inset 0 1px 0 #fff;

					}
				button.default:active {
					background: #8abcd7;
					background: -webkit-gradient(linear, left top, left bottom, from(#81afc8), to(#b7def4));
					background: -moz-linear-gradient(top, #81afc8, #b7def4);
					border-color: #6e94a9;
					border-top-color: #567c91;
					border-bottom-color: #88aec4;


					box-shadow: inset 0 -1px 1px #fff;
			    		-webkit-box-shadow: inset 0 -1px 1px #fff;
			    		-moz-box-shadow: inset 0 -1px 1px #fff;
			    		-o-box-shadow: inset 0 -1px 1px #fff;


					}
			button[disabled],
			button[disabled]:active {
				color: #a7a7a7;
				background: #efefef;
				background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e1e1e1));
				background: -moz-linear-gradient(top, #f6f6f6, #e1e1e1);
				border-color: #d4d4d4;
				border-top-color: #dedede;
				border-bottom-color: #c9c9c9;
				cursor: default;
				}
				button[disabled]:hover,
				button[disabled]:focus {
					box-shadow: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					-o-box-shadow: none;
					}

</style>

<%= partial(:'partials/layout/google_analytics') %>
</head>
<body class="<%= @page_name %>">
	<!--
	<div id="rocketbar">
		<div id="primary" class="clearfix">
			<div id="primary_inner">
				<div id="navigation" class="clearfix">
					<ul class="clearfix">
						<li><a href="#">Home</a></li>
						<li><a href="#">iTunes RSS</a></li>
						<li><a href="#">iTunes Search</a></li>
					</ul>
				</div>
				<div id="controlls" style="display:none;">
					
				</div>
			</div>
			<div id="tab_left">
				
			</div>
			<div id="tab_right">
				
			</div>
		</div>
		<div id="secondary">
			<div id="secondary_inner">
				<div id="primary_extras">
					Primary - Extra Content
				</div>
				<div id="flash_messages">
					Flash Message
				</div>
				<div id="options">
					Options Go Here
				</div>
			</div>
		</div>
	</div>
	-->
	
	<!-- 
	<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam dapibus convallis. Vivamus at interdum augue. Etiam quis urna risus. Curabitur odio augue, vestibulum in blandit in, tempus dapibus orci. Integer sit amet mattis nisi. In dui tellus, fermentum et faucibus sed, consequat pharetra libero. Aliquam erat volutpat. Integer nec mauris vitae enim volutpat consequat a id arcu. Fusce auctor sapien sed eros interdum nec congue massa dictum. Curabitur et tortor at risus vestibulum rutrum. Duis pharetra elementum augue, id pretium nunc egestas et. Integer vitae augue eu orci convallis eleifend vitae at purus.
	</p>
	<p>
	Cras nisl purus, ultricies in sodales nec, pretium sed magna. Fusce consequat ante et nisi viverra consectetur. Etiam eleifend viverra porta. Pellentesque accumsan varius quam a feugiat. Sed massa augue, mattis at consequat at, congue vulputate quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris laoreet lectus sed neque dictum accumsan. Morbi non nisi in ipsum euismod rhoncus. Vestibulum venenatis nibh tortor, id blandit metus. Maecenas et est ut ipsum tincidunt dapibus. Quisque sed dui neque, et pulvinar justo. Pellentesque sed fringilla metus. Praesent sollicitudin felis in risus adipiscing facilisis. Vivamus id molestie dui. Curabitur nisl leo, venenatis vitae vehicula sit amet, consectetur in lectus. Donec sit amet ante eu nisl semper sollicitudin vestibulum sit amet ipsum. Vestibulum aliquet vestibulum quam vitae sagittis. Mauris vitae lorem vitae lacus suscipit venenatis in sed velit. Sed rhoncus congue nisl, vestibulum mattis purus pretium quis. In nisi nulla, aliquam mattis tristique vitae, hendrerit et tellus.
	</p>
	<p>
	Vivamus tincidunt semper dignissim. Aenean posuere eleifend rhoncus. Pellentesque tincidunt eleifend nulla vel vehicula. Quisque cursus porttitor urna sed vestibulum. Duis id nunc quis mauris ornare auctor. Fusce nec quam nunc, ut tincidunt dolor. Ut interdum, elit quis varius mollis, velit nulla mollis ligula, id tempus ante justo non lectus. Nam ut augue diam, id laoreet tellus. In sed sem urna. Fusce adipiscing sem sem, eget ornare nisl. Vestibulum leo nulla, iaculis non porttitor eu, volutpat eu ipsum. Vestibulum blandit convallis velit vitae dapibus. Nulla luctus rutrum diam vitae fringilla.
	</p>
	<p class="white">
	Nunc fringilla pellentesque consectetur. Pellentesque sit amet magna augue, quis aliquet metus. Nunc quis magna elit. Proin risus est, interdum eget egestas vitae, lacinia in dui. Donec eu nisi nec elit convallis scelerisque at id dolor. Curabitur feugiat suscipit malesuada. Nulla quis enim eu nibh ornare commodo. Maecenas eget viverra magna. Nullam hendrerit, nulla a cursus pulvinar, diam est faucibus nulla, ut eleifend arcu nulla eu purus. Donec purus mauris, aliquam eget sodales et, sollicitudin sit amet lectus. Suspendisse malesuada, nisi et interdum aliquam, dolor justo tempus sapien, nec tristique lorem risus vel erat. Nunc scelerisque lobortis lectus in sollicitudin.
	</p>
	<p class="white">
	Donec congue magna ut ligula lacinia aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ipsum enim, egestas nec lobortis a, dictum non lorem. Vestibulum non nisi ut sapien sollicitudin egestas et et massa. Integer tempus lacinia lorem, et volutpat risus consequat vel. Nulla ultrices, dui nec sodales ultricies, risus orci aliquam erat, eget varius mauris leo non mi. Sed odio arcu, elementum vitae pharetra sit amet, congue id quam. In ac augue ante, in elementum odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis sed dui nec purus feugiat lacinia non eget est. Praesent dignissim enim at velit porttitor faucibus. Nullam quis quam arcu. Aenean libero eros, ullamcorper vitae malesuada nec, imperdiet non dolor. Aliquam erat volutpat. Ut tempus massa ut quam suscipit vehicula. Etiam massa nulla, tempor vitae tempus eget, cursus ut purus. Curabitur in pulvinar ligula. Sed arcu quam, ornare at gravida non, porta nec lorem.
	</p>
	<p class="white">
	Duis scelerisque eleifend suscipit. Pellentesque gravida metus at turpis viverra faucibus vehicula augue lacinia. Nunc eu venenatis nisl. Curabitur at lorem nulla. Maecenas mi arcu, hendrerit in tincidunt sed, lobortis in felis. Pellentesque quis varius turpis. Pellentesque eleifend blandit justo, a mollis leo vestibulum eget. Nunc non leo sem. Sed in consequat magna. Nulla blandit posuere ipsum a bibendum. Maecenas at arcu sit amet nulla rhoncus auctor. Vestibulum in egestas neque. Nullam non odio sit amet erat varius interdum vitae in massa.
	</p>
	<p>
	Suspendisse potenti. Donec interdum malesuada mattis. Nullam et nunc a mauris lobortis tincidunt nec in ligula. Morbi interdum, ipsum eget faucibus semper, tellus lorem dignissim sem, ut pharetra elit lorem eu odio. Ut rutrum ante vulputate leo semper vel gravida risus consectetur. Praesent suscipit viverra fringilla. Donec nisl purus, accumsan eget consequat vitae, porta mollis libero. Praesent ut purus at metus bibendum placerat ac non augue. Quisque in lacus non lacus gravida sollicitudin. Curabitur purus dolor, consequat non rhoncus non, tempor quis felis. In hac habitasse platea dictumst. Phasellus ac nibh a lorem laoreet pulvinar. Quisque sit amet lacus nibh, vestibulum vestibulum libero. Morbi dolor libero, porta eu condimentum vitae, tincidunt ut lectus. Praesent malesuada urna id est dignissim id ornare leo ornare. Vivamus interdum, sem ut volutpat egestas, orci tellus interdum diam, vel sagittis ipsum mauris a elit. Phasellus faucibus sem id risus varius interdum.
	</p>
	<p>
	Curabitur sollicitudin, diam quis varius faucibus, arcu eros blandit nisi, eu ullamcorper diam orci ac enim. Nam massa dolor, ullamcorper et vehicula quis, molestie sit amet ipsum. Vestibulum in velit vel lacus iaculis scelerisque quis ac risus. Ut sagittis, quam et sollicitudin tristique, nisl erat iaculis nisl, et facilisis nunc turpis non nulla. Maecenas elit augue, euismod sed porttitor eget, pellentesque in risus. In in ante est. Donec a massa lorem, in varius velit. Proin aliquet varius volutpat. In scelerisque consequat auctor. Ut eget elit vel tellus condimentum sagittis. Integer imperdiet volutpat dignissim. Integer et nibh nec magna mattis faucibus. Integer tincidunt lectus eget ipsum lacinia et tincidunt nisi varius. Integer eget ligula at libero ultricies condimentum a nec risus. Pellentesque condimentum commodo quam quis ultrices. Maecenas ut arcu quis arcu faucibus iaculis in quis leo.
	</p>
	<p>
	Sed et lacus commodo est aliquam lacinia. Integer mollis eleifend nulla, vel tempor elit imperdiet eu. Vestibulum quis nisi dui, ac venenatis lorem. Nam quis erat vitae mi ultrices luctus ac vel neque. Vestibulum molestie tempor ligula, ut facilisis ipsum consequat in. Etiam vel gravida dolor. Suspendisse potenti. Aliquam erat volutpat. Morbi porta euismod ante, non lobortis sapien mattis a. Nam sollicitudin, magna rutrum tempus tincidunt, nulla ante sagittis ipsum, quis venenatis velit mauris id justo. Nam scelerisque nunc egestas nulla ornare pulvinar bibendum urna ultricies. Praesent lectus felis, vehicula non sodales sed, consectetur sed nibh.
	</p>
	<p>
	Aenean consectetur velit ac metus mollis pellentesque. Vestibulum eget diam eu dui rhoncus sollicitudin et eu nulla. Pellentesque non tellus ipsum. Integer eget neque quis tortor cursus aliquam. Cras erat leo, pellentesque in eleifend at, pellentesque sed mi. Fusce ullamcorper condimentum nibh, sed condimentum nunc mattis at. Donec urna urna, pharetra sit amet semper id, vulputate vel lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in imperdiet metus. Quisque rutrum justo at velit laoreet ut vestibulum enim posuere. In quis risus in arcu sagittis blandit sit amet non arcu. Etiam ut augue sem. Phasellus tempus suscipit rhoncus. Curabitur pharetra hendrerit tincidunt. Quisque volutpat, ipsum sed accumsan sodales, eros nibh auctor elit, a egestas risus enim vel velit. Pellentesque fermentum, risus at egestas sollicitudin, arcu elit dapibus urna, non rhoncus ante est vitae eros. Pellentesque in dui arcu, semper volutpat nunc.
	</p>
	<p>
	Duis nulla velit, interdum et pulvinar et, cursus eget sem. Quisque hendrerit magna porta ante pharetra dignissim. Proin auctor, dolor eu vestibulum laoreet, nunc dui ultrices mauris, quis gravida urna elit a quam. Suspendisse potenti. Sed felis dolor, tempus a imperdiet sit amet, tempus ac mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur purus ac tortor varius a ullamcorper turpis fringilla. Etiam nisi velit, hendrerit sed molestie sodales, posuere aliquam mi. In blandit congue lacus vel pharetra. Mauris quis libero leo, vel molestie turpis. Vivamus mattis egestas rutrum.
	</p>
	<p>
	Vivamus laoreet, mauris vitae facilisis vulputate, tellus dui pellentesque mauris, non dapibus nisl tellus et nibh. Duis nunc sapien, eleifend at fringilla at, facilisis sed tortor. Curabitur et tortor metus, sed malesuada neque. Ut euismod ullamcorper nisl, nec cursus leo bibendum id. Mauris vel purus fermentum dolor egestas elementum. Nam feugiat dictum venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi placerat bibendum tristique. Curabitur aliquet consectetur est eu sollicitudin. Praesent id elit nisi.
	</p>
	<p>
	Nunc volutpat erat ac dui auctor tincidunt. Integer libero est, fringilla at fermentum ut, dictum nec augue. Cras ut felis augue. Nunc magna nunc, fermentum a dapibus et, varius in nibh. Curabitur congue imperdiet fermentum. Phasellus mollis dolor at elit mollis posuere. Integer nec erat mauris. Praesent viverra odio et eros tempus sagittis. Sed luctus, lectus vitae pretium ultricies, lacus tellus iaculis erat, non iaculis eros arcu ac leo. Nulla dictum ante nec enim condimentum eu rutrum magna mattis. Proin vitae velit dolor. Sed aliquam eleifend mi, at venenatis quam semper ac. Duis scelerisque ultrices tempor. Morbi adipiscing accumsan ultricies. Nulla sit amet urna augue. Vivamus in libero justo, tristique imperdiet lacus. Cras consequat risus ac urna sagittis in faucibus dui volutpat. Sed ac elit dolor, ut faucibus sapien. Quisque quis sem nec neque aliquam blandit sit amet sit amet orci. Phasellus sollicitudin nunc vitae libero sollicitudin aliquet nec sed justo.
	</p>
	<p>
	Pellentesque adipiscing placerat tortor sit amet faucibus. Morbi sit amet velit massa, in tincidunt orci. Quisque in libero eget mauris mattis lacinia non sit amet risus. Proin bibendum dolor quis arcu ornare porttitor at sit amet diam. Sed feugiat ullamcorper ultrices. Ut elementum tortor consectetur neque condimentum quis cursus libero faucibus. Suspendisse sed diam risus. Vivamus blandit auctor ligula, at hendrerit est euismod sit amet. In eget urna sapien, non molestie ante. Curabitur gravida nisl non velit feugiat auctor. Nunc bibendum purus id libero tempor placerat. Integer pulvinar, enim ut tincidunt dignissim, velit nisl egestas purus, a malesuada arcu mi vitae enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam et purus eu ipsum volutpat sagittis. Quisque mollis cursus molestie. In nisl nisl, aliquam id fringilla ut, mattis ut tortor. Donec sollicitudin elit nec mauris eleifend ut scelerisque elit feugiat. Sed adipiscing lacinia erat, in congue massa tempus vitae. Nam odio arcu, ultricies in egestas in, elementum sagittis turpis. Nunc sit amet tempus arcu.
	</p>
	<p>
	Etiam vitae vehicula nulla. Nam sed lectus sed turpis congue venenatis eu eget purus. Nullam accumsan pretium justo id porta. Donec accumsan, diam et feugiat mollis, dolor tortor commodo neque, in molestie massa tellus non metus. Cras eget fermentum tellus. Ut dignissim dapibus nibh, a sodales nisl eleifend fringilla. Aenean sit amet nibh mauris. Vivamus non purus id massa rutrum elementum. Maecenas mauris magna, pellentesque ac feugiat sit amet, mattis at nisi. In ornare nisi a mauris pharetra ut dignissim nulla blandit. Donec adipiscing, diam et vehicula semper, arcu erat ornare nulla, eu luctus sem lacus at metus. Donec vel sodales orci. Aliquam commodo euismod leo, ac accumsan tortor aliquam quis. Cras sit amet sodales nisl. Etiam turpis nulla, fringilla et ornare at, eleifend eu augue. Suspendisse metus nibh, dictum at fringilla eget, tincidunt non velit. Suspendisse nec tortor consequat diam facilisis suscipit id at nibh. Praesent ac odio dolor, in pulvinar ante. Fusce consectetur scelerisque nulla et porta.
	</p>
	<p>
	Suspendisse potenti. Nulla tempus luctus erat vitae interdum. Curabitur tempus nulla sapien, luctus feugiat velit. Donec dictum porttitor sem sed ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin scelerisque massa quis justo volutpat ac feugiat felis viverra. Nullam scelerisque congue tellus, ac aliquet lacus consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Ut a quam sed nibh egestas sodales. Nunc consectetur erat et justo pretium a sollicitudin nunc consequat. Donec at odio eu felis commodo pharetra quis a dui. Vivamus vehicula consequat consequat. Suspendisse a tortor nulla, non fringilla eros. Etiam sed ligula nisi. In hac habitasse platea dictumst. Aliquam egestas ligula non mi imperdiet scelerisque.
	</p>
	<p>
	Phasellus non nunc tellus, eu suscipit felis. Quisque quis nulla nisl. Nulla turpis augue, luctus a varius nec, iaculis vel magna. Proin dapibus, tellus ut interdum sagittis, lectus nibh scelerisque justo, non pulvinar est turpis fringilla libero. Fusce commodo, purus ut elementum laoreet, tortor lacus vestibulum tortor, a mattis dui nulla nec augue. Nunc consequat ante malesuada dolor consequat sed elementum neque adipiscing. Suspendisse dolor est, pretium quis feugiat viverra, volutpat et urna. Maecenas vel elementum tortor. Sed tincidunt convallis imperdiet. Vestibulum a sagittis mauris. Cras varius, leo id pharetra volutpat, metus tortor euismod elit, vel laoreet lectus odio et nisi. Etiam egestas rhoncus odio id dignissim. Ut mauris erat, eleifend eu semper id, iaculis at risus. Integer placerat vehicula nulla, ut placerat velit faucibus in. Nam sit amet velit sem, vel congue lectus. Donec pretium nunc massa, at luctus risus. Vestibulum in tortor eu quam ornare interdum. Mauris non elit neque, nec sagittis lorem.
	</p>
	<p>
	Nulla pretium pretium posuere. Morbi tincidunt mauris sit amet lectus accumsan eget consectetur sem ultricies. Maecenas in gravida lacus. Suspendisse potenti. Nulla posuere luctus ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tempor gravida metus at vestibulum. Nunc euismod, lacus sit amet dapibus facilisis, lacus erat convallis nisi, nec ullamcorper nulla felis ultricies libero. Nunc consectetur eleifend lectus at pellentesque. Duis ultrices condimentum luctus. Aliquam erat volutpat. Proin iaculis diam sed purus bibendum consectetur. Mauris gravida nulla non turpis egestas dictum vehicula massa tempus. Suspendisse sed dui et nisl pretium porta eget sed lorem. Integer placerat lectus sit amet massa pharetra at tempus dui blandit. Vestibulum nibh ligula, pellentesque quis viverra a, auctor at ipsum. Ut lobortis leo vitae metus mollis bibendum. Proin ut nulla metus.
	</p>
	<p>
	Nunc mattis tortor sed tellus consectetur consequat. Donec ut risus sed elit vestibulum tempor. Suspendisse potenti. Cras metus elit, porta non interdum a, ornare in nibh. Etiam aliquam ante et tortor ullamcorper fermentum. Fusce a nibh ut velit porta dignissim. Quisque aliquam ultrices est nec congue. Aenean nisl magna, aliquam at scelerisque vitae, pulvinar vel elit. Integer nec diam vitae purus elementum dictum ut vitae magna. Morbi viverra posuere dolor non vestibulum. Pellentesque vel tempus tellus. Cras risus nibh, ultrices quis sodales ut, condimentum ac felis. Phasellus ut pretium lacus. Cras tempus orci a tellus cursus eu ullamcorper lacus convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam consequat interdum tortor gravida ornare. Sed sem nibh, laoreet a consectetur vitae, ultrices at ipsum. Mauris ipsum leo, dapibus non condimentum ut, dictum at felis. Ut placerat volutpat ligula porttitor sollicitudin. Fusce suscipit, purus eu congue consectetur, purus eros adipiscing erat, vel feugiat sem tellus vitae odio.
	</p>
	<p>
	Pellentesque nec eros felis, ac tincidunt turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla pretium tincidunt molestie. Integer porttitor viverra nibh eu posuere. Etiam odio sapien, laoreet eget tincidunt in, dapibus nec orci. Vestibulum elementum, tellus eu semper feugiat, libero risus auctor metus, vitae fermentum tellus elit sit amet neque. Nullam malesuada vehicula ligula nec imperdiet. Pellentesque a diam purus. Nam commodo dui a velit auctor ultricies. Proin aliquet lobortis risus, a blandit erat pharetra ac. Nam ligula leo, ultrices eu lobortis in, imperdiet in dui. Sed ac dolor quis felis molestie sollicitudin.
	</p>
	
	-->
	
	<%= yield %>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
	<script src="/javascripts/application.js" type="text/javascript"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($){
			isWebApp.init( { page_name: "<%= @page_name %>" } );
			
			var rocketbar = $('#rocketbar');
			var top1 = rocketbar.offset().top;
			// var mid1 = Math.floor($(window).height() / 2);

			$(window).scroll(function(){
				if( $(window).scrollTop() > top1 ) {
					rocketbar.addClass('floater');
				} else {
					rocketbar.removeClass('floater');
				}
			});
		});
	</script>
	
	<%= partial(@page_js) %>
	
</body>
</html>